* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 960px;
  margin: 0 auto;
  overflow: auto;
}

header {
  height: 125px;
  background-color: black;
}

h1 {
  border: 1px solid black;
  padding-left: 20px;
  padding-top: 10px;
  color: #FFF13E;
  letter-spacing: 2px;
}

nav {
  border: 1px solid black;
  float: right;
  padding-top: 20px;
}

nav > a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  margin-right: 20px;
  font-size: 18px;
}

.caps {
  text-transform: uppercase;
  font-weight: 600;
}

hr {
  border: none;
  height: 5px;
  background: #FFF13E;
  width: 100%;
}

.tagline {
  height: 90px;
  background-color: lightgrey;
  border: 1px solid black;
}

strike {
  color: darkgrey;
}

u {
 color: #FFF13E;
}

.tagline > h3 {
  text-align: center;
  font-size: 28px;
  font-style: italic;
  font-weight: 500;
  border: 1px solid black;
  margin-top: 28px;
}  

article {
  border: 1px solid black;
  height: 500px;
  background-image: url("../images/coworking.jpg");
}

aside {
  width: 30%;
  height: 375px;
  background-color: lightgrey;
  float: left;
  /*border: 1px solid black;*/
}

article {
  position: relative;
}

.top {
background-color: white;
opacity: .75;
position: absolute;
top: 30px;
left: 635px;
padding-left: 25px;
padding-right: 18px;
box-shadow: 2px 2px 2px #AAAAAA;
}

.left {
  height: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 60px;
  border-right: 2px solid black;
}

.middle {
  margin-left: 5%;
  margin-right: 5%;
  height: 350px;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 60px;
  border-right: 2px solid black;
}

.right {
  /*float: right;*/
  height: 350px;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 60px;
}

h2 {
font-size: 30px;
font-weight: 400;

}

p {
  font-size: 20px;
  line-height: 1.5;
}

.button-top {
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  background-color: #FFF13E;
  box-shadow: 0px 3px 0px #D2C630;
}

.button {
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  background-color: #B8B8B8;
  box-shadow: 0px 3px 0px #AAAAAA;
}

.button-top h4 {
  border: 1px solid black;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: -1px;
  text-align: center;
  margin-top: 14px;
}

.button h4 {
  border: 1px solid black;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: -1px;
  text-align: center;
  margin-top: 14px;
}

footer {
  clear:left;
  height: 70px;
  background-color: black;
}

footer > p {
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding-top: 22px;
  letter-spacing: 2px;
  padding-left: 20px;
}
