* {
  box-sizing: border-box;
}

body  {
  margin: 0 auto;
  overflow: auto;
  font-family: sans-serif;
  font-size: 15px;
  width: 1024px;
  background-color: white;
}

a  {
  text-decoration: none;
}

h1,h2,h3  {
  font-family: Garamond;
}

header  {
  background-color: black;
  padding-bottom: 30px;
  padding-left: 10px;
  width: 100%;
  border-bottom: 5px yellow solid;
  height: 125px;
}

header .logo a {
  color: yellow;
  font-weight: bold;
}

nav  {
  float: right;
  overflow: auto;
}

nav .nav-bold {
  font-weight: bold;
  text-transform: uppercase;
}

nav a {
  display: inline-block;
  width: 150px;
  padding: 5px;
  color: white;
}

.nav-item a {
  /*display: inline-block;
  width: 100px;
  padding: 5px;*/
}

.heading  {
  width: 100%;
  padding: 10px 40px 10px 40px;
  clear: both;
  background-color: #eee;
  margin: 0px;
  text-align: center;
}

/*span #taste  {
  color: #eee;
}*/

.hero {
  width: 100%;
  height: 500px;
  margin: 0px;
  background-image: url("images/coworking.jpg");
  background-repeat: none;
  /*image background broken*/
}

.hero-aside {
  width: 35%;
  padding-right: 5px;
  border: 1px black solid;
  background-color: #eee;
  float: right;
}

.hero-aside a  {
  width: 30%;
  text-transform: uppercase;
  font-weight: bold;
}
.sub-section  {
  width: 33.33%;
  padding: 10px;
  float: left;
  background-color: red;
  /*remember to remove color*/
}

.subsection a  {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

footer  {
  height: 40px;
  background-color: black;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
  width: 100%;
  clear: both;
  font-size: 12px;
  margin-top: 0px;
}

